<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./static/backend/styles.css">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="index.html">HackDavis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="split">
    <div class="split-left img2"></div>
    <div class="container-fluid split-right">
      <h1 class="mt-2">Account</h1>
      <h4 class="text-success">create an account</h4>
      <button class="w-25 pill google mt-4"><i class="fab fa-google float-left ml-2 mt-1"></i><span
          class="float-center">Sign up
          with
          Google</span></button>
      <button class="w-25 pill facebook mt-4"><i class="fab fa-facebook float-left ml-2 mt-1"></i><span
          class="float-center">Sign up
          with
          Facebook</span></button>
      <br><label class="mt-5">- or -</label>
      <h2 class="mt-4">Sign-up</h2>
      <div class="container-fluid">
        <div style="width:128px; height:128px;background-color:black">
          <img src="" alt="Your profile pic" />
          <input type="file" /></div>
        <input type="text" class="form form-control input" placeholder="Name" />
        <input type="text" class="form form-control input" placeholder="Password" />
      </div>
    </div>
  </div>
</body>

</html>