* {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body nav {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

@media (min-width: 980px) {
  .split {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .split .split-left {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    min-height: 91vh;
    min-width: 500px;
  }
  .split .split-left.img1 {
    background: url(../../../../../images/frontimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .split .split-left.img2 {
    background: url(../../../../../images/accomplish.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .split .split-left.img3 {
    background: url(../../../../../images/event.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .split .split-right {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #fff;
    float: right;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title' 'create' 'google' 'facebook' 'email' 'pass';
  justify-items: center;
}

hr {
  border: 0;
  display: block;
  width: 95%;
  background-color: #1daf1d;
  height: 5px;
  border-radius: 20px;
}

button {
  cursor: pointer;
}

.pill {
  border-radius: 50px;
  border: none;
  padding: 0.4rem;
  color: white;
  max-height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pill.normal {
  background-color: #1daf1d;
  border-radius: 10px;
  min-width: 180px !important;
}

.pill.normal:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: white;
  border: 1px solid #1daf1d;
  padding: 0.33rem;
  color: #1daf1d;
}

.pill.google {
  grid-area: 'google';
  background-color: #d64c4c;
  min-width: 242px !important;
  margin-right: 0.5rem;
}

.pill.facebook {
  grid-area: 'facebook';
  background-color: #4c55d6;
  min-width: 242px;
  margin-left: 0.5rem;
}

.input {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none !important;
}

.input:focus {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-right: 10px solid #1daf1d;
  background-color: #e6e6e6;
}

.signupImg {
  max-width: 64px;
  max-height: 64px;
}

.signupImg input[type='file'] {
  opacity: 1;
  position: relative;
  margin: 0;
  max-width: 64px;
}

.signup {
  display: -ms-grid;
  display: grid;
  padding: 10px;
      grid-template-areas: 'first first' 'last last' 'email email' 'password confirm' 'terms terms' 'submit submit' '. already';
  grid-gap: 10px;
}

.signup .signupFirst {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: first;
}

.signup .signupLast {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: last;
}

.signup .signupEmail {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.signup .signupPass {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: password;
}

.signup .signupConfirm {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: confirm;
}

.signup .signupTerms {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: terms;
}

.signup .signupSubmit {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
}

.signup .already {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: already;
  font-size: 14px;
}

#eventList {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 20vw;
  min-width: 260px;
  height: 73%;
  display: block;
  background-color: white;
  z-index: 1;
  -webkit-transform: translate3d(100%, -5%, 0);
          transform: translate3d(100%, -5%, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 0 1rem black;
          box-shadow: 0 0 1rem black;
  overflow-y: scroll;
}

@media (min-width: 980px) {
  #eventList {
    min-width: 420px;
  }
}

#eventList.active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate3d(0, -5%, 0);
          transform: translate3d(0, -5%, 0);
}
/*# sourceMappingURL=styles.css.map */